@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /* เปลี่ยน font-sans ให้เป็น Noto Sans Thai */
  --font-sans: "Noto Sans Thai", sans-serif;
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* เปลี่ยนจาก Arial เป็น Noto Sans Thai */
  font-family: "Noto Sans Thai", sans-serif;
}